
body
{
    background: url(../Files/f3.png) no-repeat center center fixed ;
    background-size:cover;
}

h1
{
    color: #fef6ff;
    font-family: Copperplate / Copperplate Gothic Light, sans-serif;
    font-weight: 600;
    font-size: 3.6em;
    text-align: center;
    opacity: 0.4;
    text-wrap: none;

    position: fixed;
    top: 60%;
    left: 45%;
    margin-left: -335px;
}
input[type="submit"] {
    background: #1FCE6D;
    border: 0;
    margin-top: 30px;
    width: 350px;
    height: 40px;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
input[type="submit"]:hover {
    background: #16aa56;
    animation-name: shake;
}

/*
#enterChat
{
    border-top: 1px solid #b5b5b5;
    background: #9c9c9c;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#9c9c9c));
    background: -webkit-linear-gradient(top, #ffffff, #9c9c9c);
    background: -moz-linear-gradient(top, #ffffff, #9c9c9c);
    background: -ms-linear-gradient(top, #ffffff, #9c9c9c);
    background: -o-linear-gradient(top, #ffffff, #9c9c9c);
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 20px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #2E3740;
    font-size: 16px;
    font-family: Georgia, Serif;
    text-decoration: none;
    vertical-align: middle;

    position: fixed;
    top: 15%;
    left:80%;
    margin-left: -70px;
    opacity: 0.4;
}
#enterChat:hover
{
    border-top-color: #4d4d4d;
    background: #4d4d4d;
    color: #ccc;
    cursor: pointer;
}

#enterChat:active
{
    border-top-color: #e2eaf0;
    background: #e2eaf0;
}
*/





